#header-divider {
  background-color: #000;
  width: 100%;
  height: 1%;
}
#header {
  font-size: 0px;
  height: 40%;
  width: 100%;
  background-color: #519B4D;
  display: inline-block;
}
.header-block {
  text-align: center;
  display: inline-block;
  width: 20%;
  height: 50%;
  font-family: Bitter;
  font-size: 24px;
  background-color: #519B4D;
  color: #000;
  transition: 0.5s;
  vertical-align: top;
  box-shadow: 0px -2px #FFF;
}
.header-block:hover {
  background-color: #30832C;
}
#header-logo-container {
  font-family: Bungee;
  font-size: 56px;
  text-align: center;
  width: 100%;
  height: 50%;
}
.teacher-bio {
  margin: 0.22vw;
  margin-bottom: 1vh;
  width: 24vw;
  height: 75vmin;
  display: inline-block;
  background: linear-gradient(to bottom, #FFF, #FFF 10vmin, #044A00 13vmin, #044A00 47vmin, #FFF 50vmin);
}
.teacher-bio .name {
  padding-top: 2vmin;
  font-family: Bitter;
  font-size: 6vmin;
  width: 100%;
  height: 8vmin;
  color: #000;
  background-color: #FFF;
  text-align: center;
}
.teacher-bio .pic {
  border-radius: 15px 0 15px 30px;
  border: 2px solid #FFF;
  width: 30vmin;
  height: 36vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  box-shadow: 0px 0px #FFF;
  transition: 0.5s;
}
.teacher-bio .content {
  text-align: center;
  width: 100%;
  height: 24vmin;
  font-size: 4vmin;
  font-family: Bitter;
  color: #000;
  background-color: #FFF;
  padding-top: 5px;
}
.teacher-bio .pic:hover {
  box-shadow: 0px 0px 20px 5px #FFF;
}
img {
  display: inline;
}
img.center {
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
