.bbig {
  font-family: Bungee;
  font-size: 7vmin;
  text-align: center;
  background-color: #12620E;
  color: #000;
  text-decoration: none;
  vertical-align: bottom;
  width: 47vw;
  height: 17vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  transition: 0.3s;
  border-bottom: #000 2% solid;
  vertical-align: 30px;
  line-height: 17vh;
  display: inline-block;
  vertical-align: bottom;
}
.left {
  margin-left: 2vw;
}
.right {
  margin-right: 0vw;
}
.bbig:hover {
  margin-top: 0;
  margin-bottom: 0;
  width: 49vw;
  height: 19vh;
  line-height: 19vh;
  background-color: #044A00;
}
.left:hover {
  margin-left: 1vw;
  margin-right: 0;
}
.right:hover {
  margin-left: 0;
  margin-right: -1vw;
}
.bbig-text-container {
  line-height: 0px;
}
