.bbig {
  font-family: Bungee;
  font-size: 42px;
  text-align: center;
  background-color: #12620E;
  color: #000;
  text-decoration: none;
  vertical-align: bottom;
  width: 100%;
  transition: 0.5s;
  border-bottom: #000 2% solid;
  vertical-align: 30px;
  line-height: 20vh;
}
.bbig:hover {
  background-color: #044A00;
}
.bbig-divider {
  background: linear-gradient(to right, #12620E 10%, #000, #12620E 90%);
  width: 100%;
  height: 1%;
  display: block;
}
img {
  display: inline;
}
a{
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
