.bbig {
  font-family: Bungee;
  font-size: 42px;
  text-align: center;
  background-color: #30832C;
  color: #000;
  text-decoration: none;
  vertical-align: bottom;
  display: inline-block;
  width: 100%;
  transition: 0.5s;
  border-bottom: #000 2% solid;
  vertical-align: 30px;
}
.bbig:hover {
  background-color: #12620E;
}
.bbig-text-container {
  line-height: 0px;
}
.bbig-divider {
  background: linear-gradient(to right, #30832C 20%, #000, #30832C 80%);
  width: 100%;
  height: 1%;
}
