.teacher-bio {
  height: 31vw;
  width: 31vw;
  margin: 0.9vw;
  display: inline-block;
  vertical-align: bottom;
}
.teacher-bio .bio-top {
  background-color: #12620E;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 48%;
  border-radius: 2.5vw 2.5vw 0px 0px;
  font-family: Bitter;
  padding-top: 2%;
  font-size: 2.5vw;
  text-align: center;
}
.teacher-bio .smalltext {
  display: block;
  font-size: 1.75vw;
  margin-top: 0.5vw;
}
.teacher-bio .bio-bottom {
  padding-top: 34%;
  background-color: #7EB77B;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 16%;
  border-radius: 0px 0px 2.5vw 2.5vw;
  font-size: 3vw;
  text-align: center;
  font-family: Bitter;
}
.teacher-bio .tag {
  padding: 1vw;
  font-size: 2vw;
  margin: 1vw;
  border: 0.35vw solid;
  border-radius: 1.5vw;
  height: 3vw;
  width: 9vw;
  display: inline;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
}
#tip {
  width: 31vw;
  height: 30.5vw;
  padding-top: 0.5vw;
  margin: 0.9vw;
  border-radius: 20px;
  font-size: 5vw;
  font-family: Bungee;
  background-color: #519B4D;
  line-height: 5vw;
  text-align: center;
  display: inline-block;
}
.teacher-bio .access { border-color: #f1c40f; color: #f1c40f; }
.teacher-bio .im1 { border-color: #3498db; color: #3498db; }
.teacher-bio .im2 { border-color: #e67e22; color: #e67e22; }
.teacher-bio .im3 { border-color: #9b59b6; color: #9b59b6; }
.teacher-bio .precalc { border-color: #e74c3c; color: #e74c3c; }
.teacher-bio .hprecalc { border-color: #c0392b; color: #c0392b; }
.teacher-bio .apcalc { border-color: #34495e; color: #34495e; }
.teacher-bio .apstats { border-color: #555; color: #555; }
.teacher-bio .bio-pic {
  position: relative;
  top: -75%;
  left: 30%;
  width: 40%;
  height: 50%;
  border-radius: 2.5vw;
  border: #FFF 0.5vw solid;
  transition: 0.3s;
  margin-bottom: 0;
}
.teacher-bio .bio-pic img {
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  margin-bottom: 0;
}
.teacher-bio .bio-pic:hover {
  box-shadow: 0px 0px 24px 5px #FFF;
}
img {
  display: inline;
}
img.center {
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
